{% load static %}
<header class="header">
  <nav class="navigation container grid">
    <a href="{% url 'index' %}">
      <img
        src="{% static 'img/logo.jpg' %}"
        class="navigation__logo"
        alt="Logomarca"
      />
    </a>

    <ul class="navigation__list">
      {% if user.is_authenticated %}
      <p>
        Olá, {{ user.get_username }}
        <button>
          <a href="{% url 'logout' %}">Sair</a>
        </button>
      </p>
      <!-- <a href="{% url 'modificacao' %}">
        <p>Modificar</p>
      </a> -->
      {% else %}
      <li class="navigation__item button">
        <a href="{% url 'login' %}">Login</a>
      </li>
      <!-- <li class="navigation__item button">
        <a href="#">Cadastro</a>
      </li> -->
      {% endif %}
    </ul>
  </nav>
</header>
